.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  /* background-color: blue; */
}

:root {
  --primary-bg-color: #692525; /* Light background */
  --primary-text-color: #333333;
}